body {
	display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #0E1010;
  /*background-color: #f5f5f5;*/
	#form-reset-password {
		#inputGroupPrepend {
			color: green;

		}
	}
}