<tr style="border-collapse:collapse">
   <td align="center" height="24" style="padding:0;Margin:0"></td>
</tr>
<tr style="border-collapse:collapse">
  <td align="left" style="padding:0;Margin:0">
    <p style="Margin:0;font-family:helvetica,'helvetica neue',arial,verdana,sans-serif;line-height:24px;font-size:16px">
    	<b>Note:</b> This email verification will expire in @{utils.SystemConfig.DEFAULT_MAIL_EXPIRATION} minutes.
    </p>
  </td>
</tr>
<tr style="border-collapse:collapse">
   <td align="center" height="24" style="padding:0;Margin:0"></td>
</tr>