@(id: java.util.UUID, code: String) @main("Coinica - Email Verification") {
    <script type="text/javascript">
      window.onload = function() { confirmEmail() };
      function confirmEmail(params) {
        $.ajax({
          type : "GET",
          url: "/s1/donut/api/v1/user/email/confirm-update?id=@id&code=@code",
          success: function(res) { window.location="@utils.Config.COINICA_WEB_HOST"; },
          error: function(err) { window.location="@utils.Config.COINICA_WEB_HOST"; }
        });
      };
    </script>
}
