@import utils.Config._
@(username: String, code: String, url: String, isUpdate: Boolean) @main("Coinica - Email Confirmation") {
	<style type="text/css">
	  a[x-apple-data-detectors] {color: inherit !important;}
	</style>
	@defaultEmailTemplate() {
		<tr style="border-collapse:collapse">
       <td style="padding-top:25px;padding-bottom:25px;padding-left:40px;padding-right:40px;background-color:#252d41;color:#79b9f4;" align="left">
          <table cellspacing="0" cellpadding="0" style="border-collapse:collapse;border-spacing:0px;float:left">
             <tbody>
                <tr style="border-collapse:collapse">
                   <td align="left" style="padding:0;Margin:0;width:250px">
                      <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                         <tbody>
                            <tr style="border-collapse:collapse">
                               <td align="left" style="padding:0;Margin:0;padding-top:5px;padding-bottom:5px;font-size:0px"><a href="mailto:support@@coinica.net" style="text-decoration:underline;font-size:16px" target="_blank"><img src="https://egs-2.s3.jp-tok.cloud-object-storage.appdomain.cloud/eos-web/imgs/coinica-logo.png" alt="" style="display:block;border:0;outline:none;text-decoration:none" width="173" height="37"></a></td>
                            </tr>
                         </tbody>
                      </table>
                   </td>
                </tr>
             </tbody>
          </table>
          <table cellpadding="0" cellspacing="0" align="right" style="border-collapse:collapse;border-spacing:0px;">
             <tbody>
                <tr style="border-collapse:collapse">
                   <td align="left" style="width:250px">
                      <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                         <tbody>
                            <tr style="border-collapse:collapse">
                              <td align="right" style="padding:0;Margin:0">
                             		<span style="border-style:solid;border-color:#252d41;background:#252d41;border-width:0px;display:inline-block;border-radius:0px;width:auto">
                             			<a style="text-decoration:none;color:#252d41;font-size:8px;border-style:solid;border-color:#252d41;border-width:15px 25px 15px 25px;display:inline-block;background:#252d41;border-radius:0px;font-family:helvetica,'helvetica neue',arial,verdana,sans-serif;font-weight:bold;font-style:normal;line-height:10px;width:auto;text-align:center"></a>
                             		</span>
                               </td>
                            </tr>
                         </tbody>
                      </table>
                   </td>
                </tr>
             </tbody>
          </table>
          <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px">
             <tbody>
                <tr style="border-collapse:collapse">
                   <td valign="top" align="center" style="padding-top:30px;width:520px">
                      <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                         <tbody>
                            <tr style="border-collapse:collapse">
                               <td align="left" style="padding:0;Margin:0">
                                  <h1 style="Margin:0;line-height:48px;font-family:helvetica,'helvetica neue',arial,verdana,sans-serif;font-size:40px;font-style:normal;font-weight:normal;text-align:left"><b>Email Confirmation</b></h1>
                               </td>
                            </tr>
                            <tr style="border-collapse:collapse">
                               <td align="center" height="24" style="padding:0;Margin:0"></td>
                            </tr>
                            <tr style="border-collapse:collapse">
                               <td align="left" style="padding:0;Margin:0">
                                  @{
				      											if (isUpdate) {
				      												<h1 style="font-size: 24px; margin-top: 10px;">Hi {username}</h1>
				      												<p style="padding-top: 15px;Margin:0;font-family:helvetica,'helvetica neue',arial,verdana,sans-serif;line-height:24px;font-size:16px;text-align: justify;">
		                                  	We noticed your Coinica account has requested to change your account email address. If this is not you, you can safely disregard this email or email <a href="mailto:support@@coinica.net">Coinica Support</a> if you have any questions.
		                                  </p>
				      											}
				      											else {
				      												<p style="Margin:0;font-family:helvetica,'helvetica neue',arial,verdana,sans-serif;line-height:24px;font-size:16px">
		                                  	Thank you for signing up, just one more step. Click the button below to confirm your registration.
		                                  </p>
				      											}
				      										}
                               </td>
                            </tr>
                            <tr style="border-collapse:collapse">
                               <td align="center" height="24" style="padding:0;Margin:0"></td>
                               <td align="center" height="24" style="padding:0;Margin:0"></td>
                            </tr>
                         </tbody>
                      </table>
                   </td>
                </tr>
             </tbody>
          </table>
          <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px">
             <tbody>
                <tr style="border-collapse:collapse">
                   <td valign="top" style="padding-top:15px;Margin:0;width:520px">
                   		<a href="@url"
				            	style="padding: .3rem 1rem !important;
												    font-size: 1.5rem !important;
												    border-radius: .5rem !important;
												    color: #79b9f4 !important;
												    background-color: #151e2f !important;
				            				display: inline-block !important;
												    font-weight: 400 !important;
												    line-height: 1.5 !important;
												    text-align: center !important;
												    text-decoration: none !important;
												    vertical-align: middle !important;
												    cursor: pointer !important;
												    -webkit-user-select: none !important;
												    -moz-user-select: none !important;
												    user-select: none !important;
												    border: 1px solid transparent !important;
												    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;">
												  CONFIRM EMAIL
											</a>
                   </td>
                </tr>
                @emailExpirationTemplate()
             </tbody>
          </table>
       </td>
    </tr>
	}
}