@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(u: String, p: String)(email: String, expiration: String)

<!DOCTYPE html>
<html lang="en">
  <head>
    @* Here's where we render the page title `String`. *@
    <title>User Email Confirmation</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
      window.onload = function() { verifyAccount() };

      function verifyAccount() {
        $.ajax({
          type : "POST",
          dataType: 'json',
          data: JSON.stringify({'username':"@u",'password':"@p" }),
          headers: { 'Content-Type':'application/json' },
          // contentType: "application/json; charset=utf-8",
          url: "@routes.HomeController.signIn(Some(expiration.toLong))",
          success: function(response) {
            setTimeout(function() { confirmEmail(response.token); }, 1000);
          },
          error: function(err) { setTimeout(function() { window.close(); }, 2000); }
       });
      };

      function confirmEmail(session) {
        $.ajax({
          type : "POST",
          dataType: 'json',
          data: JSON.stringify({'email': "@email"}),
          contentType: "application/json; charset=utf-8",
          headers: { 'EGS_TOKEN_SESSION': session, 'Content-Type':'application/json' },
          url: "@routes.SecureActionController.addOrUpdateEmailAccount()",
          success: function(res) {
            window.location="@routes.HomeController.index()";
          },
          error: function(err) { setTimeout(function() { window.close(); }, 2000); }
       });
      };
    </script>
  </head>
  <body>
    @* And here's where we render the `Html` object containing
     * the page content. *@
    <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
  </body>
</html>
