@(u: String, p: String, expiration: String) @main("EGS - User Email Verify") {
  <div class="container">
    <div class="row justify-content-lg-center">
      <div class="col col-lg-5 mt-5">
        <form class="row g-3 needs-validation" method="post" onSubmit="return validation();">
          <div class="col-md-12">
            <div class="form-group" id="show_hide_password">
                <label for="newPassword" class="form-label">New Password</label>
                <div class="input-group">
                    <input type="password" name="newPassword"  id="newPassword" class="form-control"  aria-describedby="passwrd_required" autocomplete="off" required>
                      <span href="" class="input-group-text" id="inputGroupPrepend"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Invalid Password
                  </div>
                </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="confirmPassword" class="form-label">Confirm Password</label>
              <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" aria-describedby="comfirm_required" autocomplete="off" required>
              <div class="invalid-feedback">
                 Password Not Match
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group" id="show_hide_password">
              <button class="btn btn-primary" type="submit">Reset Password</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    (function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }

            form.classList.add('was-validated')
          }, false)
        })
    })()
    function validation(){
        if($("#newPassword, #confirmPassword").val()==""){
            $("#newPassword, #confirmPassword").addClass('is-invalid');
            return false;
        }else{
            $("#newPassword, #confirmPassword").removeClass('is-invalid');
        }

        if($("#newPassword").val()!=$("#confirmPassword").val()){
            $("#confirmPassword").addClass('is-invalid');
            return false;
        }
    }
    $(document).ready(function(e) {
        $("#newPassword").on("keyup",function(){
            if($("#newPassword").val()==""){
                $("#newPassword").addClass('is-invalid');
                return false;
            }else{
                $("#newPassword").removeClass('is-invalid');
            }
        });
        $("#confirmPassword").on("keyup",function(){
            if($("#confirmPassword").val()==""){
                $("#confirmPassword").addClass('is-invalid');
                return false;
            }else{
                $("#confirmPassword").removeClass('is-invalid');
            }
        });
        $("#show_hide_password span").on('click', function(event) {
          event.preventDefault();
          if($('#show_hide_password input').attr("type") == "text"){
              $('#show_hide_password input').attr('type', 'password');
              $('#show_hide_password i').addClass( "fa-eye-slash" );
              $('#show_hide_password i').removeClass( "fa-eye" );
          }else if($('#show_hide_password input').attr("type") == "password"){
              $('#show_hide_password input').attr('type', 'text');
              $('#show_hide_password i').removeClass( "fa-eye-slash" );
              $('#show_hide_password i').addClass( "fa-eye" );
          }
        });
    });
  </script>
}
