@import utils.Config._
@(username: String, code: String, url: String) @main("COINICA - Reset Password Confirmation") {
	<style type="text/css">
	  a[x-apple-data-detectors] {color: inherit !important;}
	</style>
	<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td style="padding: 20px 0 30px 0;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="900" style="border-collapse: collapse;">
				  <tr>
				    <td align="left" style="padding: 40px 30px 40px 30px;">
				      <img src="https://egs-2.s3.jp-tok.cloud-object-storage.appdomain.cloud/eos-web/imgs/coinica-logo.png" alt="Creating Email Magic." width="200" style="display: block;" />
				    </td>
				  </tr>
				  <tr>
				    <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
				      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
				        <tr>
				          <td style="color: #153643; font-family: Arial, sans-serif;">
				          	<h1 style="font-size: 24px; margin: 0; font-weight: bold;">Want to change your password?</h1>
				            <!-- <h1 style="font-size: 24px; margin: 0;">Hi @username.toUpperCase, Reset Your Password!</h1>
				          </td> -->
				        </tr>
				        <tr>
				          <td style="color: #153643; font-family: Arial, sans-serif; font-size: 18px; line-height: 24px; padding: 30px 0 30px 0;">
				            <p style="margin: 0;">Hi @username,</p>
				          </td>
				        </tr>
				        <tr>
				          <td style="color: #153643; font-family: Arial, sans-serif; font-size: 18px; line-height: 24px; padding: 20px 0 30px 0;">
				            <p style="margin: 0;">We have recieved a request to change your password. Either you or someone else has requested a password reset on your Coinica account.</p>
				          </td>
				        </tr>
				        <tr>
				          <td style="color: #153643; font-family: Arial, sans-serif; font-size: 18px; line-height: 24px;">
				            <p style="margin: 0; padding-bottom: 10px;">Click the button below to proceed with the request.</p>
				            <a href="@url"
				            	style="padding: .3rem 1rem !important;
												    font-size: 1.1rem !important;
												    border-radius: .3rem !important;
												    color: #fff !important;
												    background-color: #0d6efd !important;
												    border-color: #0d6efd !important;
				            				display: inline-block !important;
												    font-weight: 400 !important;
												    line-height: 1.5 !important;
												    text-align: center !important;
												    text-decoration: none !important;
												    vertical-align: middle !important;
												    cursor: pointer !important;
												    -webkit-user-select: none !important;
												    -moz-user-select: none !important;
												    user-select: none !important;
												    border: 1px solid transparent !important;
												    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;">RESET YOUR PASSWORD</a>
				          </td>
				        </tr>
				      </table>
				    </td>
				  </tr>
				  <tr>
				    <td style="padding: 30px 30px;">
				      <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse;">
				        <tr>
				          <td style="color: #153643; font-family: Arial, sans-serif; font-size: 18px; line-height: 24px;">
				            <p style="font-weight: bold;">Did not make this request?</p>
				            <p>You can safely ignore this email or email <a href="mailto:support@@coinica.net">Coinica support</a> if you have any questions.</p>
				          </td>
				        </tr>
				        <tr>
				          <td style="color: #153643; font-family: Arial, sans-serif; font-size: 18px; line-height: 24px;">
				            <p>
				            	regards,
				            	<br/>
				            	Coinica
				            </p>
				          </td>
				        </tr>
				      </table>
				    </td>
				  </tr>
				</table>
      </td>
    </tr>
  </table>
}