@import helper._
@import utils.SystemConfig.SCALA_SERVER_URI

@(u: java.util.UUID) @main("Coinica - Reset Password") {
  <div class="container text-center" id="form-reset-password">
    <div class="row justify-content-lg-center">
      <div class="col col-lg-4">
        <h1 class="mb-3 fw-normal mb-5"><img src="https://egs-2.s3.jp-tok.cloud-object-storage.appdomain.cloud/eos-web/imgs/coinica-logo.png" width="200" class="img-fluid"></h1>
        <!-- <h1 class="h5 mb-4 fw-normal text-white">Coinica</h1> -->
        <form action="/s1/donut/api/v1/user/password/reset/submit" class="row g-3 needs-validation" onsubmit="validation()" method="post">
          <div class="col-md-12">
            <input type="hidden" name="accountid" id="accountid" class="form-control"  value="@u" aria-describedby="passwrd_required" autocomplete="off" required>
          </div>
          <div class="col-md-12">
            <div class="form-floating" id="show_hide_password">
              <input type="password" class="form-control" name="new_password" id="new_password" aria-describedby="password_required" placeholder="New Password" required>
              <label class="form-control-label" for="new_password">New Password</label>
              <!-- <span href="" id="inputGroupPrepend">
                <i class="fa fa-eye-slash" aria-hidden="true"></i>
              </span> -->
              <div id="password_required" class="valid-feedback">
                Looks good!
              </div>
              <div id="password_required" class="invalid-feedback">
                Invalid Password
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="form-floating" id="show_hide_password">
              <input type="password" class="form-control" name="confirm_password" id="confirm_password" aria-describedby="confirma_password_required" placeholder="Confirm Password" required>
              <label class="form-control-label" for="confirm_password">Confirm Password</label>
              <!-- <span href="" class="input-group-text" id="inputGroupPrepend">
                <i class="fa fa-eye-slash" aria-hidden="true">Show Password</i>
              </span> -->
              <div id="confirma_password_required" class="invalid-feedback">
                 Password Not Match
              </div>
            </div>
          </div>

          <div class="col-12 mt-5">
            <div class="form-group" id="show_hide_password">
              <button class="btn btn-primary w-100" formnovalidate type="submit">Reset Password</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    (function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }

            form.classList.add('was-validated')

            if($("#new_password").val()!=$("#confirm_password").val()) {
              form.classList.remove('was-validated')
            }
          }, false)
        })
    })()
    function validation(){
        if($("#new_password, #confirm_password").val()==""){
            $("#new_password, #confirm_password").removeClass('is-valid');
            return false;
        }else{
            $("#new_password, #confirm_password").removeClass('is-invalid');
        }

        if($("#new_password").val()!=$("#confirm_password").val()){
          $("#new_password").addClass('is-valid');
          $("#confirm_password").addClass('is-invalid');
          return false;
        }
    }
    $(document).ready(function(e) {
        $("#new_password").on("keyup",function(){
            $("#new_password").removeClass('is-valid');
            if($("#new_password").val()==""){
                $("#new_password").addClass('is-invalid');
                return false;
            }else{
                $("#new_password").removeClass('is-invalid');
            }
        });
        $("#confirm_password").on("keyup",function(){
            $("#confirm_password").removeClass('is-valid');
            if($("#confirm_password").val()==""){
                $("#confirm_password").addClass('is-invalid');
                return false;
            }else{
                $("#confirm_password").removeClass('is-invalid');
            }
        });

        $("#show_hide_password span").on('click', function(event) {
          event.preventDefault();
          if($('#show_hide_password input').attr("type") == "text"){
              $('#show_hide_password input').attr('type', 'password');
              $('#show_hide_password i').addClass( "fa-eye-slash" );
              $('#show_hide_password i').removeClass( "fa-eye" );
          }else if($('#show_hide_password input').attr("type") == "password"){
              $('#show_hide_password input').attr('type', 'text');
              $('#show_hide_password i').removeClass( "fa-eye-slash" );
              $('#show_hide_password i').addClass( "fa-eye" );
          }
        });
    });
  </script>
}
