@import utils.Config._
@(code: Int) @main("Coinica - Email Confirmation") {
	<style type="text/css">
	  a[x-apple-data-detectors] {color: inherit !important;}
	</style>
	@defaultEmailTemplate() {
		<tr style="border-collapse:collapse">
       <td align="center" style="padding:0;Margin:0">
          <table cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center" style="border-collapse:collapse;border-spacing:0px;background-color:#ffffff;width:600px">
             <tbody>
                <tr style="border-collapse:collapse">
                   <td align="left" bgcolor="#f2f3f7" style="padding:0;Margin:0;padding-left:40px;padding-right:40px;background-color:#f2f3f7">
                      <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px">
                         <tbody>
                            <tr style="border-collapse:collapse">
                               <td align="center" valign="top" style="padding:0;Margin:0;width:520px">
                                  <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                                     <tbody>
                                        <tr style="border-collapse:collapse">
                                           <td align="center" height="24" style="padding:0;Margin:0"></td>
                                        </tr>
                                     </tbody>
                                  </table>
                               </td>
                            </tr>
                         </tbody>
                      </table>
                   </td>
                </tr>
                <tr style="border-collapse:collapse">
                   <td style="Margin:0;padding-top:25px;padding-bottom:25px;padding-left:40px;padding-right:40px;background-color:#ffffff" bgcolor="#ffffff" align="left">
                      <table cellspacing="0" cellpadding="0" align="left" style="border-collapse:collapse;border-spacing:0px;float:left">
                         <tbody>
                            <tr style="border-collapse:collapse">
                               <td align="left" style="padding:0;Margin:0;width:250px">
                                  <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                                     <tbody>
                                        <tr style="border-collapse:collapse">
                                           <td align="left" style="padding:0;Margin:0;padding-top:5px;padding-bottom:5px;font-size:0px"><a href="mailto:support@@coinica.net" style="text-decoration:underline;color:#2f1c6a;font-size:16px" target="_blank"><img src="https://egs-2.s3.jp-tok.cloud-object-storage.appdomain.cloud/eos-web/imgs/coinica-logo.png" alt="" style="display:block;border:0;outline:none;text-decoration:none" width="173" height="37"></a></td>
                                        </tr>
                                     </tbody>
                                  </table>
                               </td>
                            </tr>
                         </tbody>
                      </table>
                      <table cellpadding="0" cellspacing="0" align="right" style="border-collapse:collapse;border-spacing:0px;float:right">
                         <tbody>
                            <tr style="border-collapse:collapse">
                               <td align="left" style="padding:0;Margin:0;width:250px">
                                  <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                                     <tbody>
                                        <tr style="border-collapse:collapse">
                                          <td align="right" style="padding:0;Margin:0">
                                         		<span style="border-style:solid;border-color:#ffffff;background:#ffffff;border-width:0px;display:inline-block;border-radius:0px;width:auto">
                                         			<a style="text-decoration:none;color:#ffffff;font-size:8px;border-style:solid;border-color:#ffffff;border-width:15px 25px 15px 25px;display:inline-block;background:#ffffff;border-radius:0px;font-family:helvetica,'helvetica neue',arial,verdana,sans-serif;font-weight:bold;font-style:normal;line-height:10px;width:auto;text-align:center"></a>
                                         		</span>
                                           </td>
                                        </tr>
                                     </tbody>
                                  </table>
                               </td>
                            </tr>
                         </tbody>
                      </table>
                   </td>
                </tr>
                <tr style="border-collapse:collapse">
                   <td align="left" style="padding:0;Margin:0;padding-left:40px;padding-right:40px">
                      <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px">
                         <tbody>
                            <tr style="border-collapse:collapse">
                               <td valign="top" align="center" style="padding:0;Margin:0;width:520px">
                                  <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                                     <tbody>
                                        <tr style="border-collapse:collapse">
                                           <td align="left" style="padding:0;Margin:0">
                                              <h1 style="Margin:0;line-height:48px;font-family:helvetica,'helvetica neue',arial,verdana,sans-serif;font-size:40px;font-style:normal;font-weight:normal;color:#2f1c6a;text-align:left"><b>2FA Code</b></h1>
                                           </td>
                                        </tr>
                                        <tr style="border-collapse:collapse">
                                           <td align="center" height="24" style="padding:0;Margin:0"></td>
                                        </tr>
                                        <tr style="border-collapse:collapse">
                                           <td align="left" style="padding:0;Margin:0">
                                              <p style="Margin:0;font-family:helvetica,'helvetica neue',arial,verdana,sans-serif;line-height:24px;color:#2f1c6a;font-size:16px">Here is your login verification code:</p>
                                           </td>
                                        </tr>
                                        <tr style="border-collapse:collapse">
                                           <td align="center" height="24" style="padding:0;Margin:0"></td>
                                           <td align="center" height="24" style="padding:0;Margin:0"></td>
                                        </tr>
                                     </tbody>
                                  </table>
                               </td>
                            </tr>
                         </tbody>
                      </table>
                   </td>
                </tr>
                <tr style="border-collapse:collapse">
                   <td align="left" style="padding:0;Margin:0;padding-left:40px;padding-right:40px">
                      <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border-spacing:0px">
                         <tbody>
                            <tr style="border-collapse:collapse">
                               <td align="center" valign="top" style="padding:0;Margin:0;width:520px">
                                  <table cellpadding="0" cellspacing="0" width="100%" bgcolor="#f2f3f7" style="border-collapse:separate;border-spacing:0px;background-color:#f2f3f7;border-radius:4px" role="presentation">
                                     <tbody>
                                        <tr style="border-collapse:collapse">
                                           <td align="center" height="20" style="padding:0;Margin:0"></td>
                                        </tr>
                                        <tr style="border-collapse:collapse">
                                           <td align="center" height="4" style="padding:0;Margin:0"></td>
                                        </tr>
                                        <tr style="border-collapse:collapse">
                                           <td align="left" style="padding:0;Margin:0;padding-left:20px;padding-right:20px">
                                              <h3 style="Margin:0;line-height:29px;font-family:helvetica,'helvetica neue',arial,verdana,sans-serif;font-size:24px;font-style:normal;font-weight:bold;color:#673de6">
                                              	@{code}
                                              </h3>
                                           </td>
                                        </tr>
                                        <tr style="border-collapse:collapse">
                                           <td align="center" height="20" style="padding:0;Margin:0"></td>
                                        </tr>
                                     </tbody>
                                  </table>
                               </td>
                            </tr>
                            <tr style="border-collapse:collapse">
                               <td align="center" height="24" style="padding:0;Margin:0"></td>
                            </tr>
                            <tr style="border-collapse:collapse">
                               <td align="left" style="padding:0;Margin:0">
                                  <p style="Margin:0;font-family:helvetica,'helvetica neue',arial,verdana,sans-serif;line-height:24px;color:#2f1c6a;font-size:16px">Please make sure you never share this code with anyone.<br><b>Note:</b> The code will expire in 15 minutes.</p>
                               </td>
                            </tr>
                            <tr style="border-collapse:collapse">
                               <td align="center" height="24" style="padding:0;Margin:0"></td>
                            </tr>
                         </tbody>
                      </table>
                   </td>
                </tr>
             </tbody>
          </table>
       </td>
    </tr>
	}
}